<launch>
  <!--
  <node name="communication" pkg="milaur_xmega_driver" type="communication.py" output="screen">
  </node>
  -->
  <include file="$(find milaur_xmega_driver)/launch/xmega_driver.launch"/>

  <node name="controller" pkg="milaur_controller" type="vehicle_controller.py" output="screen">
  </node>

  <node name="milaur_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="milaur_cam" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="10" />
  </node>

  <node name="navigation" pkg="milaur_navigation" type="navigation.py" output="screen">
  </node>
</launch>
